body{
	min-width: 1200px;
}
/*banner 我们是谁*/
.banner{
	height: 769px;
	background: url(../img/about/about1.jpg) no-repeat center;
}
.banner-tle{
	font-size: 55px;
	color: #fff;
	text-align: center;
	padding-top: 190px;
}
.banner-main{
	line-height: 32px;
	width: 810px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 122px;
	text-align: left;
	font-size: 18px;
	color: #fff;
}
.banner-main span{
	color: #ffa800;
}
/*end banner 我们是谁*/

/*悬浮导航*/
.online,.subscr,.wx{
	width: 78px;
	height: 90px;
	position: fixed;
	z-index: 99;
}
.online{
	right: 0;
	top:200px;
}
.subscr{
	right: 0;
	top:292px;
}
.wx{
	right: 0;
	top:384px;
}
.top{
	width: 80px;
	height: 56px;
	position: fixed;
	z-index: 99;
	right: -1px;
	top:476px;
	cursor: pointer;
}
.subscr-l{
	width: 140px;
	height: 182px;
	position: fixed;
	right: 80px;
	top: 198px;
	z-index: 99;
	visibility: hidden;
}
.wx-l{
	width: 140px;
	height: 246px;
	position: fixed;
	right: 80px;
	top: 226px;
	z-index: 99;
	display: none;
}
/*end 悬浮导航*/

/*发展历程*/
.dev{
	height: 1594px;
}
/*end 发展历程*/

/*愿景*/
.vision{
	height: 525px;
}
/*end 愿景*/

/*公司文化*/
.cul{
	background-color: #f3f3f3;
}
.cul-main{
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.cul-img{
	display: block;
}
.cul .wdv1,.cul .wdv2,.cul .wdv3,.cul .wdv4{
	position: absolute;
    width: 265px;
    height: 280px;
    z-index: 99;
}
.cul .wdv1{
    left: 580px;
    top: 293px;
    background-image: url("../img/about/opacity.png");
}
.cul .wdv2{
    left: 366px;
    top: 464px;
    background-image: url("../img/about/opacity.png");
}
.cul .wdv3{
    left: 566px;
    top: 626px;
    background-image: url("../img/about/opacity.png");
}
.cul .wdv4{
    left: 387px;
    top: 795px;
 	background-image: url("../img/about/opacity.png");
}
/*end 公司文化*/

/*工作守则*/
.work-rules{
	width: 100%;
	height: 3068px;
	text-align: center;
	background: url(../img/about/work-rules-bg.jpg) no-repeat center;
}

.rules-pag .rules-tle{
	margin-top: 280px;
}
.rules-pag .rules-main1,.rules-pag .rules-main2,.rules-pag .rules-main3,.rules-pag .rules-main4{
	display: inline-block;
	height: 370px;
	width: 937px;
	background: url(../img/about/rules-main-bg.png);
	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
}
.rules-pag .rules-main1:hover,.rules-pag .rules-main2:hover,.rules-pag .rules-main3:hover,.rules-pag .rules-main4:hover{
	box-shadow: 0 0 5px #f2cb54;
}
.rules-main1 h1,.rules-main2 h1,.rules-main3 h1,.rules-main4 h1{
	color: #ffc000;
	font-size: 48px;
	padding-top: 70px;
	letter-spacing: 2px;
	font-weight: 600;
}
.rules-main1 p,.rules-main2 p,.rules-main3 p,.rules-main4 p{
	color: #ddd;
	font-size: 18px;
	padding-top: 55px;
	line-height: 30px;
	letter-spacing: 3px;
}
.rules-pag .rules-main1{
	margin-top: 204px;
}
.rules-pag .rules-main2{
	margin-top: 189px;
}
.rules-pag .rules-main3{
	margin-top: 189px;
}
.rules-pag .rules-main4{
	margin-top: 182px;
}
/*end 工作守则*/
