/*head-top*/
.header{
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	box-shadow: 0 0 10px #666;
}
.head-top{
	border-bottom: 1px solid #ddd;
}    
.head{
	width: 1200px;
	margin: 0 auto;
}
.QQ-phone,.mob-phone,.login{
	display: inline-block;
}
.head-top-r{
	float: right;
	line-height: 38px;
}
.head-top-r img{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	vertical-align: middle;
}
#iamverangry{
	color: rgb(255,136,39);
}
.head-top-r .text-clr{
	color: #777777;
	font-size: 16px;
	vertical-align: middle;
}
.head-top-r .text-login{
	color: #ff8100;
	font-size: 17px;
}
.head-top-r .l{
	margin:0 3px;
	color: #e6e6e6;
	font-size: 14px;
	vertical-align: middle;
}
/*end head-top*/

/*head-main*/
.head-main{
	width: 1100px;
	margin: 0 auto;
	padding: 12px 0 12px 0;
	position: relative;
}
.head-logo{
	float: left;
}
.head-logo img{
	display: block;
	width: 280px;
	height: 69px;
}
.nav-c{
	float: left;
	line-height: 64px;
	font-size: 18px;
}
.nav-c li{
	float: left;
	margin-left: 50px;
}
.nav-c li a{
	color: #636363;
}
.nav-c li a:hover{
	color:#ff8509;
}
.nav-r{
	float: left;
	width: 494px;
	height: 55px;
}
.nav-r img{
	margin-top: 11px;
	margin-left: 64px;
}
.study-abr{
	position: absolute;
    top: 8px;
    left: 582px;
    width: 70px;
    height: 31px;
}
.study-abr img{
    display: block;
}
/*end head-main*/

				
.top-menu {
    vertical-align: middle;
    display: inline-block;
    padding-left: 32px;
    font-size: 14px;
}
.top-menu ul {
    margin: 0px;
    padding-left: 0px;
}

.top-menu li {
    position: relative;
    display: inline-block;
    min-width: 30px;
    height: 69px;
    vertical-align: middle;
    line-height: 69px;
    padding: 0px 25px;
    text-align: center;
}


.top-menu .active {
    color: #FF6500;
}

.top-menu li a {
    color: #666666;
}

.top-menu li .hight-light-bott {
    position: absolute;
    border: 1px solid rgb(255,136,39);
    width: 26%;
    left: 34%;
    z-index: 9;
    bottom: 22px;
}

.top-menu .taobao-href-wrap {
    margin-left: 13px;
    padding: 0px;
}

.top-menu li .taobao-href {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    font-weight: bold;
}

.taobao-href-wrap .icon-taobao-shop {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    background-image: url(../imgs/31313.png);
    background-size: 100% 100%;
}

.taobao-href {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: rgb(255,136,39);
    vertical-align: middle;
    line-height: 40px;
    border-radius: 25px;
}