body{
	min-width: 1200px;
}

/*轮播图*/
.banner{
	position: relative;
}
.content-bg li{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.content-bg img{
	display: block;
}
/*end 轮播图*/


.banner .bx-wrapper .bx-pager,
.banner .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 15px;
	z-index: 99;
	width: 100%;
}

/*悬浮导航*/
.online,.subscr,.wx{
	width: 78px;
	height: 90px;
	position: fixed;
	z-index: 99;
}
.online{
	right: 0;
	top:200px;
}
.subscr{
	right: 0;
	top:292px;
}
.wx{
	right: 0;
	top:384px;
}
.top{
	width: 80px;
	height: 56px;
	position: fixed;
	z-index: 99;
	right: -1px;
	top:476px;
	cursor: pointer;
}
.subscr-l{
	width: 140px;
	height: 182px;
	position: fixed;
	right: 80px;
	top: 198px;
	z-index: 99;
	visibility: hidden;
}
.wx-l{
	width: 140px;
	height: 246px;
	position: fixed;
	right: 80px;
	top: 226px;
	z-index: 99;
	display: none;
}
/*end 悬浮导航*/

/*社会在变革*/
.gao{
	text-align: center;
	/*padding-top:35px;*/
	min-width: 1200px;
}
.gao img{
	display: block;
}
.gao-main{
	position: relative;
	width: 1200px;
	margin:0 auto;
}
.gao1{
	width: 1200px;
}
.gao .gdv1,.gao .gdv2,.gao .gdv3,.gao .gdv4,.gao .gdv5,.gao .gdv6{
    /*background-color: red;*/
}
.gao .gdv1{
	position: absolute;
    left: 534px;
    top: 72px;
    width: 134px;
    height: 126px;
    z-index: 99;
    background-image: url(../img/index/dv1.png);
}
.gao .gdv2{
    position: absolute;
    left: 317px;
    top: 147px;
    width: 97px;
    height: 90px;
    z-index: 99;
    background-image: url(../img/index/dv2.png);
}
.gao .gdv3{
	position: absolute;
    left: 1px;
    top: 207px;
    width: 113px;
    height: 109px;
    z-index: 99;
    background-image: url(../img/index/dv3.png);
}
.gao .gdv4{
	position: absolute;
    left: 1095px;
    top: 488px;
    width: 101px;
    height: 104px;
    z-index: 99;
    background-image: url(../img/index/dv4.png);
}
.gao .gdv5{
	position: absolute;
    left: 48px;
    top: 507px;
    width: 85px;
    height: 85px;
    z-index: 99;
    background-image: url(../img/index/dv5.png);
}
.gao .gdv6{
	position: absolute;
    left: 1021px;
    top: 281px;
    width: 80px;
    height: 80px;
    z-index: 99;
    background-image: url(../img/index/dv6.png);
}
/*end 社会在变革*/

/*提供极致的学习体验*/
.learn{
	height: 600px;
	background: url(../img/index/learn.jpg) no-repeat center;
}
/*end 提供极致的学习体验*/

/*课程有价值-学习无顾虑*/
.kc{
	text-align: center;
	background: url(../img/index/kc-bg.jpg);
}
.kc-main{
	width: 1200px;
	margin:0 auto;
}
.kc-main .tle{
	padding-top: 130px;
}
.kc .bm-main{
	width: 100%;
}
.kc .img-mar-r{
	margin-right:-50px;
}
.cir-cont{
	padding-top: 30px;
}
/*end 课程有价值-学习无顾虑*/

/*榜*/
.stuChP{
	position: relative;
}
.stuChoice li{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.stuChoice img{
	display: block;
}

.stuChoice-main{
	position: absolute;
	left: 50%;
	top: 266px;
	z-index: 100;
}
.ysp{
	position: absolute;
	right: 266px;
	top:-125px;
	z-index: 99;
}
.lxp{
	position: absolute;
	right: 266px;
	top: 15px;
	z-index: 99;
}
/*end 榜*/	

/*热门课程*/
.hot-class{
	background-image: url(../img/index/hot-bg.jpg);
	text-align: center;
	/*padding: 40px 60px;*/
}
.hot-title{
	padding:40px 50px;
}
.hot-class-main{
	width: 1200px;
	margin:0 auto;
	text-align: center;
	padding-bottom: 60px;
}
.hot-class-main .hot-l{
	float: left;
	box-shadow: 5px 5px 25px #a73d08;
}
.hot-class-main .hot-c{
	text-align: center;
	box-shadow: 5px 5px 25px #a73d08;
}
.hot-class-main .hot-r{
	float: right;
	box-shadow: 5px 5px 25px #a73d08;
}
/*end 热门课程*/

/*合作伙伴*/
.coop-par{
	text-align: center;
	padding-top: 120px;
}
.coop-par>img{
	padding-bottom: 75px;
}
.coop-par-main img{
	border:1px solid rgb(234,234,234);
}
/*end 合作伙伴*/

/*同桌生活*/
.par-life{
	padding-top: 120px;
}
.par-life-main{
	text-align: center;
	padding-bottom: 75px;
}
.bx-wrapper .bx-prev{
	background: url(../img/index/prev.png) no-repeat;
	background-size: 100% 100%;
	left: 15px;
}
.bx-wrapper .bx-prev:hover{
	background-image: url(../img/index/prev1.png);
}
.bx-wrapper .bx-controls-direction a{
	width: 42px;
    height: 52px;
}
.bx-wrapper .bx-next{
	background: url(../img/index/next.png) no-repeat;
	background-size: 100% 100%;
	right: 15px;
}
.bx-wrapper .bx-next:hover{
	background-image: url(../img/index/next1.png);
	background-position: 0 0;
}

.yuy{
	padding: 150px 0;
}
/*end 同桌生活*/