
.top{
	min-width: 1100px;
	margin: 0 auto;
	width: auto;
}
.banner{
	width: auto;
	min-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bottom{
	background-color: rgb(47,47,47);
	width: auto;
	min-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.inner-bottom{
	width: 1100px;
	margin:0 auto;
	overflow: hidden;
}
.inner-bottom .top{
	padding-top: 12px;
	height: 198px;
	width: 1100px;
	border-bottom: 1px solid rgb(25,25,25);
}
.inner-bottom .top .part{
	display: inline-block;
	vertical-align: middle;
	height: 160px;
}
.inner-bottom .top .part-mid{
	padding-left: 150px;
	opacity: 0.8;
}
.inner-bottom .top .part-rig{
	padding-left:135px;
	opacity: 0.8;
}
.foot-logo-wrap{
	background-color: rgb(255,255,255);
	width:198px;
	margin-top: 28px;
	margin-left: 180px;
	height:68px;
	line-height: 68px;
	text-align: center;
	margin-bottom: 12px;
}
.foot-logo-wrap img{
	height: 68px;
	width: 198px;
}
.foot-company-address{
	padding-left: 180px;
	color: #ccc;
	list-style: none;
	font-size: 8px;
	opacity: 0.5;
}
.import-sit{
	margin-top: 21px;
	padding: 0px;
	color: rgb(255,255,255);
}
.import-sit li{
	list-style: none;
	height:30px;
	line-height: 30px;
}
.import-sit .eng-part{
	color: rgb(238,105,35);
}
.foot-company-address li{
	text-align: left;
	height: 23px;
}
.inner-bottom .foot{
	height: 90px;
	width: 1100px;
}
.sm_btm {
    width: 1200px;
    height: 410px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
}
.top-logo{
	vertical-align: middle;
	display: inline-block;
	width: 292px;
	height: 69px;
}
.top-logo img{
	vertical-align: top;
}
.top-menu{
	vertical-align: middle;
	display: inline-block;
	padding-left: 32px;
	font-size: 14px;
}
.top-menu ul{
	margin: 0px;
	padding-left: 0px;
}
.top-menu li .no-light-bott{
	position: absolute;
	border: 1px solid white;
	width: 60%;
	left: 20%;
	z-index: 9; 
	bottom:22px;
}

.top-menu li .hight-light-bott{
	position: absolute;
	border: 1px solid rgb(255,136,39);
	width: 60%;
	left: 20%;
	z-index: 9; 
	bottom:22px;
}


.top-menu li{
	position: relative;
	display: inline-block;
	min-width: 30px;
	height: 69px;
	vertical-align: middle;
	line-height: 69px;
	padding: 0px 25px;text-align: center;
}
.top-menu a{
	display: inline-block;
	text-align: middle;
	position: relative;
	text-decoration: none;
}
.top-menu a:hover{
	color: #FF6500;
}
.top-menu .active{
	color: #FF6500;
}
.menu-wrap{
	height: 93px;
	line-height: 93px;
	margin: 0 auto;
	width: 1100px;
}
.user-msg{
	height: 40px;
	line-height: 32px;
	margin-top: 3px;
	width: 1100px;
	margin: 0 auto;
	padding-right: 16px;
}
.user-msg-wrap{
	border-bottom: 2px solid #ccc;
}

.user-msg-wrap .hight-line{
	color: rgb(255,136,39);
	cursor: pointer;
}
.user-msg ul{
	float: right;
	margin-bottom: 0px;
	height: 40px;
	vertical-align: top;
}
.user-msg li{
	display: inline-block;
	vertical-align: middle;
}
.user-msg .icon{
	width: 20px;
	height: 20px;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right:8px;
}
.top-menu li a{
	color:#666666;
}

.top-menu a:hover{
	color: rgb(255,136,39)!important;
}
.top-menu .taobao-href:hover{color: rgb(255,255,255)!important;}
.taobao-href{
	display: inline-block;
	width: 150px;
	height: 40px;
	background-color: rgb(255,136,39);
	vertical-align: middle;
	line-height: 40px;
	border-radius: 25px;
}
.taobao-href-wrap .icon-taobao-shop{
	width: 19px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	background-image: url(../imgs/04.png);
}
.top-menu li .taobao-href{
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14px;
}
.top-menu .taobao-href-wrap{
	margin-left: 13px;
	padding: 0px;
}
.user-msg .icon-qq{
	width: 19px;
	background-image: url(../imgs/04.png);
}
.icon-sign{
	background-image: url(../imgs/05.png);
}
.icon-login{
	background-image: url(../imgs/06.png);
}
.user-msg .line{
	margin: 0px 8px;
	color: #ccc;
	margin-bottom: 3px;
}

.page-des{
	background-color: rgb(247,154,0);
	height:48px;
	line-height: 48px;
}
.page-des li{
	display: inline-block;
	width: 360px;
	vertical-align: top;
	font-size: 16px;
	
}
.page-des a{
	width: 180px;
	display: inline-block;
	text-align: center;
	text-decoration:none;
	height: 48px;
	color: rgb(255,255,255);
}
.page-des a:hover{background-color: #FA6A00;color: rgb(255,255,255)!important;}
.page-des .active a{
	background-color: #FA6A00;
}
.page-des .lef{
	text-align: left;
	height: 48px;
}
.page-des .mid{
	text-align: center;
	height: 48px;
}
.page-des .rig{
	text-align: right;
	height: 48px;
}
.page-des ul{
	width: 1100px;
	margin: 0 auto;
	padding-left: 0px;
}
.big-img-wrap{
	position: relative;
	min-height: 422px;
}

.login-wrap{
	width: 285px;
	height: 361px;
	background-color:rgb(88,75,0);
	position: absolute;
	top: 28px;
	right: 140px;
	opacity: 0.9;
	font-size: 16px;
	color: rgb(255,255,255);
}
.login-wrap .head{
	height: 46px;
	line-height:46px;
}
.big-img-wrap img{
	width: 100%;
	min-width: 1100px;
	min-height: 422px;
}
.login-wrap .head ul{
	padding: 0px;
}
.login-wrap .head li{
	float: left;
	cursor: pointer;
	width: 50%;
	list-style: none;
	text-align: center;
	background-color: rgb(24,5,3);
}
.login-wrap .head .active{
	background-color: rgb(88,75,0);
}
.login-wrap .body-right{
	display: none;
}

.login-wrap .body ul{
	margin-top: 23px;
	padding: 0px;
	margin-bottom: 20px;
}
.login-wrap .body li{
	height: 29px;
	line-height: 29px;
	list-style-type:none;
	font-size: 18px;
	color: rgb(255,255,255);
	text-align: center;
}
.login-wrap .body li .num{
	margin: 0px 6px;
	font-size: 28px;
	color: rgb(245,209,0);
}
.login-wrap .body input{
	width: 220px;
	margin:0 auto;
	margin-bottom: 23px;
	opacity: 1;
}
.login-wrap .body .go-btn{
	text-align: center;
	margin-top: 39px;
	width: 175px;
	height: 45px;
	background-color: rgb(255,178,0);
	color: rgb(255,255,255);
	font-size: 16px;
	border-width: 0px;
	cursor: pointer;
}
.login-wrap .body .login-pre-che .ccchk{
	width: 12px;
	vertical-align:middle;
	height: 14x;
	margin: 0px;
	margin-left: 37px;
	cursor: pointer;
}

.login-wrap .body .login-pre-che .ccchk:checked{

}

.login-wrap .body-right .enter-you-psd{
	margin-bottom: 10px;
}

.login-wrap .body .login-pre-che .cccspan{
	display: inline-block;
	vertical-align: baseline;
}

.login-wrap .body .login-pre-che .foget-psd{
	display: inline-block;
	margin-left: 73px;
	color: white;
}
.login-wrap .body .login-pre-che .foget-psd:hover{
	color: rgb(255,139,46)!important;
}


.login-wrap .body .login-pre-che{
	height: 25px;
	line-height: 25px;
	font-size: 10px;
}
.login-wrap .body .login-btn{
	text-align: center;
	width: 89px;
	height: 45px;
	background-color: rgb(255,178,0);
	color: rgb(255,255,255);
	font-size: 16px;
	border-width: 0px;
	cursor: pointer;
	margin-top: 15px;
}


.import-sit .icon{
	width: 19px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.friend-notic{
	display: inline-block;
	color: #ccc;
	opacity: 0.6;
	height: 40px;
	width: 95px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	border:1px solid #ccc;
	margin-left: 180px;
	margin-top: 15px;
}
.url-notic{
	opacity: 0.6;
	padding-top: 8px;
	vertical-align: top;
	display: inline-block;
	color: rgb(255,255,255);
}
.url-notic li{
	list-style: none;
	height: 25px;
	line-height: 28px;
}
.url-notic ul{
	margin-left: 25px;
	padding: 0px;
}
.url-notic span{
	margin: 0px 6px;
}
.url-notic a{
	color: #ccc;
}

/*cehis*/

.speak-res-title{
	width: 100%;
	min-width: 1100px;
	margin-bottom: 62px;
}

.speak-res-title .sp-top{
	width: 614px;
	height: 68px;
	background-image: url(../imgs/f1sd564fg.png);
	text-align: center;
	line-height: 68px;
	font-weight: bold;
	margin: 0 auto;
	font-size: 38px;
	color: white;
	margin-top: 69px;
}


.speak-res-title .sp-fot{
	font-size: 22px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	margin-top: 26px;
}

.speak-res-title .sp-fot .click-link{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 25px;
	color: white;
	background-color: rgb(140,193,82);
	font-size: 18px;
	border-radius: 20px;
	font-weight: bold;
	padding:6px;
	cursor: pointer;
	position: relative;
}

.speak-res-title .sp-fot .click-link .sp-pic{
	position: absolute;
	top: 20px;left: 73px;
	width:43px; height:50px;
}

.student-res-list{
	min-width: 1100px;
	width: 100%;
	margin-bottom: 120px;
}

 .student-res-list .student-res-item{
 	width: 1100px;
 	margin: 0 auto;
 }

 .student-res-list .head-img{
 	width: 200px;
 	display: inline-block;
 	vertical-align: top;
 	position: relative;
 	text-align: center;
 }
.student-res-list .head-img .student-name{
	text-align: center;
	font-size: 20px;
	color: #4FC1E9;
}
 .student-res-list .res-des{
 	position: relative;
 	width: 840px;
  	display: inline-block;
 	vertical-align: top;
 	margin-left: 50px;
 }
.student-res-list .student-res-item .head-img img{
	width: 100px;
	height: 100px;
}

.student-res-list .res-des .rrs-top{
	height: 75px;
}

.student-res-list .res-des .rrs-top .score{
   	width: 77px;
   	display: inline-block;
   	color: #FF6500;
   	font-size: 50px;
   	height: 75px;
   	line-height: 58px;
   	text-align: center;
   	vertical-align: top;
}

.student-res-list .res-des .rrs-top .rrs-right{
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.student-res-list .res-des .rrs-top .rrs-right .bbig{
	height: 35px;
	line-height: 46px;
	font-size: 14px;
	color: #ccc;
}

.student-res-list .res-des .rrs-top .rrs-right .ssmall{
	font-size: 6px;
	color: #ccc;
	height: 38px;
	line-height: 10px;
}

.student-res-list .res-des .much-txt-des{
	font-size: 18px;
	color: rgb(85,85,85);
}

.student-res-list .res-des .img-wrapp{
	margin-top: 20px;
	margin-bottom: 20px;
}

.student-res-list .res-des .img-wrapp img{
	margin-right: 35px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
}

.student-res-list .head-rig-radius{
	width: 23px;
	height: 23px;
	border:2px solid #FF6500;
	border-radius: 23px;
	position: absolute;
	top: 28px;
	right:-15px;
	z-index: 10;
	background-color: white;
}

.res-des .head-rig-line-middle{
	border-right: 2px solid #FF6500;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: -50px;
}


.res-des .head-rig-line-first{
	border-right: 2px solid #FF6500;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: -50px;
	margin-top: 32px;
}

.res-des .head-rig-line-last{
	border-right: 2px solid #FF6500;
	height: 32px;
	position: absolute;
	z-index: -1;
	left: -50px;
}