
.top{
	min-width: 1100px;
	margin: 0 auto;
	width: auto;
}
.banner{
	width: auto;
	min-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bottom{
	background-color: rgb(47,47,47);
	width: auto;
	min-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.inner-bottom{
	width: 1100px;
	margin:0 auto;
	overflow: hidden;
}
.inner-bottom .top{
	padding-top: 12px;
	height: 198px;
	width: 1100px;
	border-bottom: 1px solid rgb(25,25,25);
}
.inner-bottom .top .part{
	display: inline-block;
	vertical-align: middle;
	height: 160px;
}
.inner-bottom .top .part-mid{
	padding-left: 150px;
	opacity: 0.8;
}
.inner-bottom .top .part-rig{
	padding-left:135px;
	opacity: 0.8;
}
.foot-logo-wrap{
	background-color: rgb(255,255,255);
	width:198px;
	margin-top: 28px;
	margin-left: 180px;
	height:68px;
	line-height: 68px;
	text-align: center;
	margin-bottom: 12px;
}
.foot-logo-wrap img{
	height: 55px;
	width: 198px;
}
.foot-company-address{
	padding-left: 180px;
	color: #ccc;
	list-style: none;
	font-size: 8px;
	opacity: 0.5;
}
.import-sit{
	margin-top: 21px;
	padding: 0px;
	color: rgb(255,255,255);
}
.import-sit li{
	list-style: none;
	height:30px;
	line-height: 30px;
}
.import-sit .eng-part{
	color: rgb(238,105,35);
}
.foot-company-address li{
	text-align: left;
	height: 23px;
}
.inner-bottom .foot{
	height: 90px;
	width: 1100px;
}
.sm_btm {
    width: 1200px;
    height: 410px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
}
.top-logo{
	vertical-align: middle;
	display: inline-block;
	width: 292px;
	height: 69px;
}
.top-logo img{
	vertical-align: top;
}
.top-menu{
	vertical-align: middle;
	display: inline-block;
	padding-left: 32px;
	font-size: 14px;
}
.top-menu ul{
	margin: 0px;
	padding-left: 0px;
}
.top-menu li .no-light-bott{
	position: absolute;
	border: 1px solid white;
	width: 60%;
	left: 20%;
	z-index: 9; 
	bottom:22px;
}

.top-menu li .hight-light-bott{
	position: absolute;
	border: 1px solid rgb(255,136,39);
	width: 60%;
	left: 20%;
	z-index: 9; 
	bottom:22px;
}


.top-menu li{
	position: relative;
	display: inline-block;
	min-width: 30px;
	height: 69px;
	vertical-align: middle;
	line-height: 69px;
	padding: 0px 25px;text-align: center;
}
.top-menu li:hover .no-light-bott{
	border-color: rgb(255,136,39);
}
.top-menu li:hover a{
	color:  rgb(255,136,39);
}

.top-menu a{
	display: inline-block;
	text-align: middle;
	position: relative;
	text-decoration: none;
}
.top-menu a:hover{
	color: #FF6500;
}
.top-menu .active{
	color: #FF6500;
}
.menu-wrap{
	height: 93px;
	line-height: 93px;
	margin: 0 auto;
	width: 1100px;
}
.user-msg{
	height: 40px;
	line-height: 32px;
	margin-top: 3px;
	width: 1100px;
	margin: 0 auto;
	padding-right: 16px;
}
.user-msg-wrap{
	border-bottom: 2px solid #ccc;
}

.user-msg-wrap .hight-line{
	color: rgb(255,136,39);
	cursor: pointer;
}
.user-msg ul{
	float: right;
	margin-bottom: 0px;
	height: 40px;
	vertical-align: top;
}
.user-msg li{
	display: inline-block;
	vertical-align: middle;
}
.user-msg .icon{
	width: 20px;
	height: 20px;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right:8px;
}
.top-menu li a{
	color:#666666;
}

.top-menu a:hover{
	color: rgb(255,136,39)!important;
}
.top-menu .taobao-href:hover{color: rgb(255,255,255)!important;}
.taobao-href{
	display: inline-block;
	width: 150px;
	height: 40px;
	background-color: rgb(255,136,39);
	vertical-align: middle;
	line-height: 40px;
	border-radius: 25px;
}
.taobao-href-wrap .icon-taobao-shop{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	background-image: url(../imgs/31313.png);
	background-size: 100% 100%;
}
.top-menu li .taobao-href{
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14px;
	font-weight: bold;
}
.top-menu .taobao-href-wrap{
	margin-left: 13px;
	padding: 0px;
}
.top-menu .taobao-href-wrap:hover a{
	color: white!important;
}
.user-msg .icon-qq{
	width: 19px;
	background-image: url(../imgs/04.png);
}
.icon-sign{
	background-image: url(../imgs/05.png);
}
.icon-login{
	background-image: url(../imgs/06.png);
}
.user-msg .line{
	margin: 0px 8px;
	color: #ccc;
	margin-bottom: 3px;
}

.page-des{
	background-color: rgb(247,154,0);
	height:48px;
	line-height: 48px;
}
.page-des li{
	display: inline-block;
	width: 360px;
	vertical-align: top;
	font-size: 16px;
	
}
.page-des a{
	width: 180px;
	display: inline-block;
	text-align: center;
	text-decoration:none;
	height: 48px;
	color: rgb(255,255,255);
}
.page-des a:hover{background-color: #FA6A00;color: rgb(255,255,255)!important;}
.page-des .active a{
	background-color: #FA6A00;
}
.page-des .lef{
	text-align: left;
	height: 48px;
}
.page-des .mid{
	text-align: center;
	height: 48px;
}
.page-des .rig{
	text-align: right;
	height: 48px;
}
.page-des ul{
	width: 1100px;
	margin: 0 auto;
	padding-left: 0px;
}
.big-img-wrap{
	position: relative;
	min-height: 422px;
}

.login-wrap{
	width: 310px;
	height: 366px;
	background-color:rgb(88,75,0);
	position: absolute;
	top: 28px;
	right: 13%;
	opacity: 0.9;
	font-size: 19px;
	color: rgb(255,255,255);
}
.login-wrap .head{
	height: 46px;
	line-height:46px;
}
.big-img-wrap img{
	width: 100%;
	min-width: 1100px;
	height: 445px;
}
.login-wrap .head ul{
	padding: 0px;
}
.login-wrap .head li{
	float: left;
	cursor: pointer;
	width: 50%;
	list-style: none;
	text-align: center;
	background-color: rgb(24,5,3);
}
.login-wrap .head .active{
	background-color: rgb(88,75,0);
}
.login-wrap .body-right{
	display: none;
}

.login-wrap .body ul{
	margin-top: 23px;
	padding: 0px;
	margin-bottom: 20px;
}
.login-wrap .body li{
	height: 29px;
	line-height: 29px;
	list-style-type:none;
	font-size: 19px;
	color: rgb(255,255,255);
	text-align: center;
}
.login-wrap .body li .num{
	margin: 0px 6px;
	font-size: 28px;
	color: rgb(245,209,0);
}
.login-wrap .body input{
	width: 235px;
	margin:0 auto;
	margin-bottom: 23px;
	opacity: 1;
}
.login-wrap .body .go-btn{
	text-align: center;
	margin-top: 39px;
	width: 175px;
	height: 45px;
	background-color: rgb(255,178,0);
	color: rgb(255,255,255);
	font-size: 16px;
	border-width: 0px;
	cursor: pointer;
	opacity: 1;
}
.login-wrap .body .login-pre-che .ccchk{
	width: 12px;
	vertical-align:middle;
	height: 14x;
	margin: 0px;
	margin-left: 44px;
	cursor: pointer;
}

.login-wrap .body .login-pre-che .ccchk:checked{

}

.login-wrap .body-right .enter-you-psd{
	margin-bottom: 12px;
}

.login-wrap .body .login-pre-che .cccspan{
	display: inline-block;
	vertical-align: baseline;
}

.login-wrap .body .login-pre-che .foget-psd{
	display: inline-block;
	margin-left: 73px;
	color: white;
}
.login-wrap .body .login-pre-che .foget-psd:hover{
	color: rgb(255,139,46)!important;
}


.login-wrap .body .login-pre-che{
	height: 25px;
	line-height: 25px;
	font-size: 13px;
}
.login-wrap .body .login-btn{
	text-align: center;
	width: 89px;
	height: 45px;
	background-color: rgb(255,178,0);
	color: rgb(255,255,255);
	font-size: 16px;
	border-width: 0px;
	cursor: pointer;
	margin-top: 15px;
	opacity: 1;
}


.import-sit .icon{
	width: 19px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.friend-notic{
	display: inline-block;
	color: #ccc;
	opacity: 0.6;
	height: 40px;
	width: 95px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	border:1px solid #ccc;
	margin-left: 180px;
	margin-top: 15px;
}
.url-notic{
	opacity: 0.6;
	padding-top: 8px;
	vertical-align: top;
	display: inline-block;
	color: rgb(255,255,255);
}
.url-notic li{
	list-style: none;
	height: 25px;
	line-height: 28px;
}
.url-notic ul{
	margin-left: 25px;
	padding: 0px;
}
.url-notic span{
	margin: 0px 6px;
}
.url-notic a{
	color: #ccc;
}
