body{
	min-width: 1200px;
}
/*轮播图*/
.content-bg li{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.content-bg img{
	display: block;
}
/*end 轮播图*/


/*登录*/
.main{
	position: relative;
}
.resg-cont{
	position: absolute;
	top: 264px;
	left: 50%;
	z-index: 100;
}
.content{
	position: absolute;
	left: 150px;
}

.main-login{
	width: 400px;
	height: 445px;
	background-color: #fff;
	box-shadow: 0 0 15px #ccc;
	text-align: center;
	z-index: 99;
}
.main-login form{
	width: 325px;
	margin-left:40px;
	margin-right:40px;
}
.login-tl{
	font-size: 24px;
	color: #b4b4b4;
	padding-top: 30px;
	padding-bottom: 48px;
	font-weight: 500;
}
.user-name,.password{
	line-height: 35px;
	height: 35px;
	position: relative;
	border:1px solid #ddd;
	border-radius:3px
}
.user-name input,.password input{
	width: 90%;
	border:none;
	font-size: 14px;
}
.user-name input::-webkit-input-placeholder { /* WebKit browsers */  
    color:#b9b9b9;  
}
.user-name input::-webkit-input-placeholder { /* WebKit browsers */  
    color:#b9b9b9;  
}  
.user-name input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:#b9b9b9;  
   opacity:1;  
}  
.user-name input::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:#b9b9b9;  
   opacity:1;  
}
.user-name input:-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:#b9b9b9;  
}

.password input::-webkit-input-placeholder { /* WebKit browsers */  
    color:#b9b9b9;  
}
.password input::-webkit-input-placeholder { /* WebKit browsers */  
    color:#b9b9b9;  
}  
.password input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:#b9b9b9;  
   opacity:1;  
}  
.password input::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:#b9b9b9;  
   opacity:1;  
}
.password input:-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:#b9b9b9;  
}

.user-name input:focus,.password input:focus{
	outline: none;
}
.user-name img,.password img{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 6px;
	right: 6px;
}
.user-name{
	margin-bottom: 13px;
}
.forget-psw{
	text-align: right;
	margin:10px 0;
	font-size: 13px;
	font-family: "Microsoft Yahei";
}
.forget-psw a{
	color: #8f8d8d;
}
.forget-psw a:hover{
	color: #ff711b;
}
.sub input{
	line-height: 37px;
	height: 37px;
	width:100%;
	border:none;
	border-radius: 5px;
	padding:0;
	background-color:#ff711b; 
	color: #fff;
	font-size: 22px;
	font-family: "Microsoft Yahei";
}
.sub input:hover{
	background-color: #ff6000;
	cursor: pointer;
}
.resg{
	margin-top: 50px;
	padding:15px 0 20px 0;
	background-color: #eee;
	color:#5e5e5e;
}
.resg h4{
	font-size:15px;
	margin-bottom: 30px;
}
.resg h4 a{
	color:#5e5e5e;
}
.resg>a{
	color:#5e5e5e;
	border:1px solid #bbb;
	padding:5px 25px;
	border-radius: 5px;
	background-color: #fff;
	transition: border 0.5s,color 0.5s;
	-moz-transition: border 0.5s,color 0.5s; /* Firefox 4 */
	-webkit-transition: border 0.5s,color 0.5s; /* Safari 和 Chrome */
	-o-transition: border 0.5s,color 0.5s; /* Opera */
}
.resg>a:hover{
	color:#ff6000;
	border-color: #ff6000;
}
.resg .lx{
	margin-right: 30px;
}
/*登录*/
